# My tasks Notebook  
***
Module: Fundamentals of Data Analsis

HDip in Data Analysis at ATU 

Author: Shane Keenan

##### Task 1 
***
The Collatz conjecture1 is a famous unsolved problem in mathematics. The problem is to prove that if you start with any positive integer x and repeatedly apply the function $f(x)$ below, you always get stuck in the repeating sequence 1, 4, 2, 1, 4, 2, . . .


$$f(x) = x ÷ 2    if x is even
    3x + 1 otherwis$$


For example, starting with the value 10, which is an even number, we divide it by 2 to get 5. Then 5 is an odd number so, we multiply by 3 and add 1 to get 16. Then we repeatedly divide by 2 to get 8, 4, 2, 1. Once we are at 1, we go back to 4 and get stuck in the
repeating sequence 4, 2, 1 as we suspected. Your task is to verify, using Python, that the conjecture is true for the first 10,000 positive integers

In [28]:
# define a function to test the collatz function f(x)
def f(x):
    print('test function on the integer {}'.format(int(x)),end= '. \n')
    while (x != 1): # end condition 
        if (x % 2) == 0: # if the reminder is equal to 0 (that is if x is even)
            x = (x/2)  # divide it by two 
        else:
            x = (x*3)+1
        print('{}'.format(int(x)),end= ',')

In [29]:
#test the function behaves correctly 
x = 100 
f(x)

test function on the integer 100.
50,25,76,38,19,58,29,88,44,22,11,34,17,52,26,13,40,20,10,5,16,8,4,2,1,

In [32]:
# to verify the collatz function holds true for integers upto 10,000 
# new function (without any print functions) and appends the sequence to a list 

def collatz(x):
    seq = [x]  # create a list called seq startig with the number to be verified 
    while (x != 1): # end condition 
        if (x % 2) == 0: # if the reminder is equal to 0 (that is if x is even)
            x = (x/2)  # divide it by two 
        else:
            x = (x*3)+1
        seq.append(x)
    return seq

In [40]:
# test the modified function 
print(collatz(1000))

[1000, 500.0, 250.0, 125.0, 376.0, 188.0, 94.0, 47.0, 142.0, 71.0, 214.0, 107.0, 322.0, 161.0, 484.0, 242.0, 121.0, 364.0, 182.0, 91.0, 274.0, 137.0, 412.0, 206.0, 103.0, 310.0, 155.0, 466.0, 233.0, 700.0, 350.0, 175.0, 526.0, 263.0, 790.0, 395.0, 1186.0, 593.0, 1780.0, 890.0, 445.0, 1336.0, 668.0, 334.0, 167.0, 502.0, 251.0, 754.0, 377.0, 1132.0, 566.0, 283.0, 850.0, 425.0, 1276.0, 638.0, 319.0, 958.0, 479.0, 1438.0, 719.0, 2158.0, 1079.0, 3238.0, 1619.0, 4858.0, 2429.0, 7288.0, 3644.0, 1822.0, 911.0, 2734.0, 1367.0, 4102.0, 2051.0, 6154.0, 3077.0, 9232.0, 4616.0, 2308.0, 1154.0, 577.0, 1732.0, 866.0, 433.0, 1300.0, 650.0, 325.0, 976.0, 488.0, 244.0, 122.0, 61.0, 184.0, 92.0, 46.0, 23.0, 70.0, 35.0, 106.0, 53.0, 160.0, 80.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0]

In [45]:
# create for loop to test every integer from 10000 to 1 

for i in range(1,10001):
    test = collatz(i) # call the collatz function 
    if test[-1] != 1:   # if the last digit in the list is not 1 then the conjecture is not verified
        print(f"the conjecture is not valid for {i}")
print(f"the conjecture is valid for all values up to {i}")

the conjecture is valid for all values up to 10000

##### End of Task 1 
***

##### Task 2 
***
Give an overview of the famous penguins data set, explaining
the types of variables it contains. Suggest the types of variables
that should be used to model them in Python, explaining your
rationale

In [47]:
# import pandas to work with the dataframe 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [50]:
#read in the penguin.csv data set 

data = pd.read_csv("C:\\Users\\shane\\Desktop\\HDip in Data Analytics\\Semester 2\\Fundamentals of Data Analysis\\fundamentals_of_data_analysis\\task data\\penguins.csv")

In [59]:
data

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [57]:
# display the shape of the data set - (rows, columns)

data.shape

(344, 7)

In [58]:
# displays the header / column data (if there) - this dataset does have an index in the .csv file.  
data.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [52]:
data.head() # displays the top 5 rows

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [60]:
#check whether there is missing data in the file 
data.isnull()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,True,True,True,True,True
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
339,False,False,True,True,True,True,True
340,False,False,False,False,False,False,False
341,False,False,False,False,False,False,False
342,False,False,False,False,False,False,False
343,False,False,False,False,False,False,False

In [61]:
# summarize what data is missing  
data.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [73]:
# find out where this data is located 
missing_positions = data.isnull().stack()
missing_positions = missing_positions[missing_positions].reset_index()
missing_positions.columns = ['Row', 'Column', 'Is_Missing']
print(missing_positions)

    Row             Column  Is_Missing
0     3     bill_length_mm        True
1     3      bill_depth_mm        True
2     3  flipper_length_mm        True
3     3        body_mass_g        True
4     3                sex        True
5     8                sex        True
6     9                sex        True
7    10                sex        True
8    11                sex        True
9    47                sex        True
10  246                sex        True
11  286                sex        True
12  324                sex        True
13  336                sex        True
14  339     bill_length_mm        True
15  339      bill_depth_mm        True
16  339  flipper_length_mm        True
17  339        body_mass_g        True
18  339                sex        True

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
51,Adelie,Biscoe,40.1,18.9,188.0,4300.0,MALE
165,Chinstrap,Dream,52.0,18.1,201.0,4050.0,MALE
35,Adelie,Dream,39.2,21.1,196.0,4150.0,MALE
157,Chinstrap,Dream,45.2,17.8,198.0,3950.0,FEMALE
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,MALE
135,Adelie,Dream,41.1,17.5,190.0,3900.0,MALE
97,Adelie,Dream,40.3,18.5,196.0,4350.0,MALE
293,Gentoo,Biscoe,46.5,14.8,217.0,5200.0,FEMALE
326,Gentoo,Biscoe,41.7,14.7,210.0,4700.0,FEMALE
226,Gentoo,Biscoe,45.4,14.6,211.0,4800.0,FEMALE

In [ ]:
     

# displays the header / column data (if there) - this dataset does have a index in the .csv file.  
print(f'\n\n{data.columns}')
print(type(data.columns))

# display the shape of the data set - (rows, columns)
print(f'\n\n{(data.shape)}')
print(f'\n\n{type(data.shape)}')

# to select a certain column of the data and assign it to a variable 
select_data=data[["sepallength","sepalwidth"]]

print(select_data.head(10))
print(type(select_data.head(10)))

# indexing to look at specific rows in the data. 

# to select a row by number index - use iloc[]
print(data.iloc[5])

#to select rows by the attribuete in a certain column index - use loc[]
print(data.loc[data["class"] == "Iris-setosa"])

# and then select a certain column within the subset 
setosa= data.loc[data["class"] == "Iris-setosa"]
select_data=setosa[["sepallength"]]
print(select_data)

# to count number of times a particular class (or any value) has occurred - use value_counts 
print(data["sepallength"].value_counts())

# calculate some statistics of the data - Sepallength
sum_data = data["sepallength"].sum()
mean_data = data["sepallength"].mean()
median_data = data["sepallength"].median()
  
print("Sum: {:.2f} \nMean: {:.2f} \nMedian: {:.2f}".format(sum_data,mean_data,median_data))

# determine the minimum and maximum from a column 
min_data=data["sepallength"].min()
max_data=data["sepallength"].max()
  
print("Minimum:",min_data, "\nMaximum:", max_data)

#check whether there is missing data in the file 
data.isnull()

##### Task 3 
***

For each of the variables in the penguins data set,3 suggest what probability distribution from the numpy random distributions list
is the most appropriate to model the variable.

##### Task 4 
***

Suppose you are flipping two coins, each with a probability p of
giving heads. Plot the entropy of the total number of heads versus
p.

##### Task 5
***

Create an appropriate individual plot for each of the variables in the penguin data set.

##### imports
***
import python libraries that we will use in this notbook. 
Using packages for plotting with matplotlib and seaborn

In [ ]:
import numpy as np 
import matplotlib.pyplot as plt

## List of x values 
$ x $

In [ ]:
np.arange(1, 10 , 0.1)

#